{% extends "base.html" %}
{% block title %}Login Page{% endblock %}


{% block content %}

<br>

<form action="#" method="post" id="mainForm" style="text-align: center;">

    <p>First Name:</p>
    <p><input type="text" name="firstName"/></p>


    <p>Last Name:</p>
    <p><input type="text" name="lastName"/></p>


    <p>NetID:</p>
    <p><input type="text" name="NETID"/></p>

    <p>Department:</p>
    <p><input type="text" name="Department"/></p>

    <button type="button" class="btn btn-success" form="mainForm" value="Submit">Submit!</button>

</form>



{% endblock %}

